.modalBackground {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalIFrame {
    width: 600px;
    height: 90%;
    border-width: 0;
    border-radius: 16px;
}

.featuresBtnContainer {
    width: 100%;
    display: flex;
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    transition: all 0.1s;
color: black;
}

.featuresBtnContainer.dark {
    width: 100%;
    display: flex;
    border-radius: 100px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    transition: all 0.1s;

}


.featuresLabel {
    color: rgb(15, 20, 25);
    font-size: 20px;
    padding: 12px 16px;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius: 100px;
    transition: all 0.1s;
    display: flex;
    flex: 0;
    justify-content: flex-start;
    align-items: center;
}

.featuresLabel.dark {
    color: white;
    font-size: 20px;
    padding: 12px 16px;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius: 100px;
    transition: all 0.1s;
    display: flex;
    flex: 0;
    justify-content: flex-start;
    align-items: center;
}
.featuresLabel span{
    margin-left: 20px;
    margin-right: 12px;
    color: white;
}

.featuresBtnContainer:hover .featuresLabel{
    background-color: rgba(15, 20, 25, 0.1); 
}

.featuresBtnContainer:active .featuresLabel{
    background-color: rgba(15, 20, 25, 0.15); 
}

.featuresBtnContainer:active .featuresLabel.dark{
    background-color: rgba(125, 125, 125, 0.2);  
}




.featuresBtnContainer:hover .featuresLabel.dark{
    background-color: rgba(125, 125, 125, 0.2); 
    color: white;

}


@media only screen and (max-width: 1300px) {
    .featuresLabel {
        margin-right: 0;
    }

    .featuresLabel span {
      display: none;
    }
  }
